
h1{
    border: 8px solid blue;
    position: absolute;
    background: whitesmoke;
    color: #28abe3;
    padding: 20px;
}


body{
    margin: 0;
    font-family: sans-serif;
}

div.oppgave6{
    position: fixed;
}

.p{
    text-align: right;
}

div.grid{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "nav"
            "main"
            "aside1"
            "aside2"
            "footer";
}

div.header{
    background-color: #191919;
    grid-area: header;
    color: whitesmoke;

}

div.nav{
    grid-area: nav;
    background-color: #1F487E;

}


div.main{
    background-image: url("http://longwallpapers.com/Desktop-Wallpaper/winter-nature-wallpapers-hd-resolution-For-Desktop-Wallpaper.jpg"), url("http://longwallpapers.com/Desktop-Wallpaper/winter-nature-wallpapers-hd-resolution-For-Desktop-Wallpaper.jpg");
    grid-area: main;
    padding: 40px;
    text-align: left;

}

ul{
    list-style-type: none;

}
ul li{
    display: inline;
}

ul a{
    display: block;
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color:  #191919;


}

ul a:hover {
    background-color: #8BC4FF;
}

div.aside1{
    background-color:  #1F487E;
    grid-area: aside1;
    text-align: left;
    padding: 30px;
    color: white;

}

div.aside2{
    background-color: #1F487E;
    grid-area: aside2;
    color: white;
    padding: 30px;
    text-align: left;
    color: white;
}

div.footer{
    background-color:  #191919;
    grid-area: footer;
    padding: 40px;
    text-align: left;
    color: white;
}

@media (min-width: 1000px){



    div.grid{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
                "header header header"
                "nav      main aside1"
                "nav      main aside2"
                "nav      main aside2"
                "footer   footer footer";
    }
}



